@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Road+Rage&display=swap');
* {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-image: url("./img/background.png");
    background-position: center;
    display:flex;
    width:100%;
    height:auto;
    flex-direction: column;
}

.div-principal{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:15px;
}

.div-container{
    justify-content: center;
    width:50%;
    height:auto;
    border: solid 3px #FAFAFA;
    background-color:#FAFAFA;
    border-radius: 8px;
    margin-top:50px;
}

.div-h1{
    font-size:2.0rem;
    color:#115FA7;
    text-align:center;
}

.div-icon{
    display:flex;
    justify-content: center;
}

.div-botao{
    padding:16px;
}


.botao{
    font-size:0.7rem;
    background-color:#FAFAFA;
    color:#115FA7;
    border: 2px solid #115FA7;
    border-radius: 3px;
    margin: 10px;
    font-weight:bold;
    padding:6px;
    cursor:pointer;
}

.h1-principal{
    font-family:'Road Rage', cursive;
    font-size:5.0rem;
    color:#FFD000;
}

.h1-venceu{
    padding: 16px;
}

.p-descricao{
    padding: 16px 16px;
    text-align: center;
}

.img-medalha{
    padding: 16px 16px;
}

footer{
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:0.7rem;
    margin:10px;
}

@media(max-width:1200px){
    .h1-venceu{
        font-size:2.0rem;
    }

    .h1-principal{
        margin:8px;
        font-size:3rem;
    }

    .div-principal{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
    }

    .div-container{
        padding-top:20px;
        width:70%;
        height:auto;
    }

    .p-descricao{
        font-size:0.7rem;
    }
}